article {
    
    background-image: url("https://media.istockphoto.com/photos/abstract-white-backgrounds-picture-id1288526180?k=20&m=1288526180&s=612x612&w=0&h=OGDzI0ynecB7yBRa3bhULDHduDobDyLAgKC6qbGikr8=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
    height: 50vh ;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslateblue;
    
}