* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 
    
  }
  
  header{
     background-image: url("https://media.istockphoto.com/photos/applications-on-android-picture-id458955163?k=20&m=458955163&s=612x612&w=0&h=-_SprLkTLekj9phrdkQCxzeaVMM8OuNOmYQBEncFKUc=");
      height: 200px; 
      position: relative;
  }
  
  nav{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  }

  nav li {
      list-style: none;
      display:inline-block;
      padding-right: 10px;
      padding-left: 10px;
  
  }
  
  nav li span{
      padding-left: 5px;
  
  }
  
  li a{
      padding: 5px;
      background-color: #fff;
      text-decoration: none;
  }

  h1{
      text-align: center;
      border: 5px solid lightgray;
  }

 
#container{
    background-image: url("https://media.istockphoto.com/photos/abstract-white-backgrounds-picture-id1288526180?k=20&m=1288526180&s=612x612&w=0&h=OGDzI0ynecB7yBRa3bhULDHduDobDyLAgKC6qbGikr8=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%; 
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    font-size: 13px;
    font-weight:600;
}

#container img{
    width:200px;
    height: 100px;
    transition: 2s;
  
}
#container  img:hover{
    transform: scale(1.5);
    width: 120px;
    height: 100px; 
     
} 

#container article{
    width: 250px;
    border-radius: 10px;
    border: 5px solid lightgray;
}


  
   
 
 

#addBtn{
    border: 1px solid black;
    z-index: 1;

    
   
}

    
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');


footer {
    border: 0.1rem #000 solid;
    border-left: 0;
    border-right: 0;
    
    text-align: center;
    font-size: 1.3vw; 
    
    margin: 1vw 1.2vw;
}

.cells {
    display: inline-block;
    border-right: 1vh #000 solid;
    
    text-align: center;

    
    padding: 0vw 0.5vw;
    margin: 0.5vw;
}

p:last-child {
  border-right: 0;
}

a { text-decoration: none;}